PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...
VAPID_PUBLIC_KEY=base64url_encoded_65_byte_public_key
VAPID_PRIVATE_KEY=base64url_encoded_32_byte_private_key
VAPID_SUBJECT=https://oggiaortona.com
