---
type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<main
  id="main-content"
  class="h-full overflow-x-hidden overflow-y-auto scroll-hide"
>
  <div
    class:list={[
      "mx-auto max-w-lg px-5 layout-bottom-padding pt-safe",
      className,
    ]}
  >
    <slot />
  </div>
</main>
